<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
  <link rel="preload" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap">

  <meta charset="UTF-8" />
  <link rel="icon" href="https://mhindery.github.io/balfolk.music/staticfiles/favicon.ico" />

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css"
    integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preload" as="font" type="font/eot"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/fonts/materialdesignicons-webfont.eot"
    crossorigin="anonymous">
  <link rel="preload" as="font" type="font/woff2"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/fonts/materialdesignicons-webfont.woff2"
    crossorigin="anonymous">
  <link rel="preload" as="font" type="font/woff"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/fonts/materialdesignicons-webfont.woff"
    crossorigin="anonymous">
  <link rel="preload" as="font" type="font/ttf"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/fonts/materialdesignicons-webfont.ttf"
    crossorigin="anonymous">




  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Balfolk.music</title>
  <script type="module" crossorigin src="https://mhindery.github.io/balfolk.music/staticfiles/index-BBDO7cfS.js"></script>
  <link rel="stylesheet" crossorigin href="https://mhindery.github.io/balfolk.music/staticfiles/index-C4Ef2nJX.css">
</head>

<body>
  <div id="app"></div>
</body>

</html>
