<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
  <link rel="preload" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap">

  <meta charset="UTF-8" />
  <link rel="icon" href="/assets/favicon.ico" />

  <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">




  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Balfolk.music</title>
  <script type="module" crossorigin src="/assets/index-_02ILNQ4.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-Ds_SgZok.css">
</head>

<body>
  <div id="app"></div>
</body>

</html>
